<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hi</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>hi lil nigga</h1>
    <div class="yt">
        <a href="https://www.youtube.com/watch?v=uWGKlEqhCPI" target="_blank">
            <button type="button" class="yr" >don't click me ^_^</button>
        </a>
        <p>made by @___reft</p>
    </div>
</body>
</html>